<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Main</title>
</head>

<body>
  <%- include('./partials/nav') %>
    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aspernatur recusandae at! Laboriosam veniam
      magni harum eveniet. Laborum eaque dolor debitis itaque sunt magnam, doloremque unde assumenda odit minima
      quaerat.
    </div>
    <%- include('./partials/script') %>
</body>

</html>