<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Main</title>
</head>

<body>
  <%- include('./partials/nav') %>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sit et ut nobis provident fuga repellendus.
      Perspiciatis ducimus aut optio, sapiente eveniet accusamus officia commodi odio velit quia, quas natus.</p>
    <%- include('./partials/script') %>
</body>

</html>